@model List<string>

<ul>
    @foreach(var item in Model){
        <li>
            <a asp-controller="PgnViewer" asp-action="ViewFile" asp-route-filename="@item">@item</a>
        </li>
    }
</ul>

<form asp-action="UploadFile"
      asp-controller="PgnViewer"
      method="Post"
      enctype="multipart/form-data">
    <input type="file" name="pgnfile" />
    <input type="submit" value="Upload pgn" />
</form>