@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="UploadFile"
      asp-controller="PgnViewer"
      method="Post"
      enctype="multipart/form-data"
      >
    <input type="file" name="pgnfile" />
    <input type="submit" value="Upload pgn" />
</form>
