@model PgnViewerWeb.ViewFileViewModel
@using System.Collections.Generic;

<ul>
    @for (int index = 0; index < Model.Games.Count(); index++) {
        <li>
            <a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@index">Game @index</a>
        </li>
    }
</ul>