*{
    margin:0;
    padding:0;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
    background: #202020;
    color: #b0b0b0;
    text-align: center;
}

footer{
    font-family:Consolas,monospace;
    font-size:10pt;
    text-align: center;
    width:100%;
    padding-top:25px;
}

#homeLink{
    text-align:left;
    width:100%;
    display:block;
    font-size:26pt;
    padding-left:5px;
}

.navLink, .navLink:visited, .navLink:link, .navLink:active, .navLink:hover {
    color: rgb(176, 176, 176);
    text-decoration: none;
    text-align: left;
    width: 100%;
}

#content{
    margin-left:30px;
    margin-top:20px;
}

#content h2{
    
}

.filelist {
    list-style-type:disc;
}

.filelist li a {
    color: rgb(176, 176, 176);
    text-align: left;
    width: 100%;
}

.contentTable, .contentList {
    list-style-type: none;
    background-color: white;
}

    .contentTable, .contentTable tr {
        width:100%;
    }

        .contentTable thead {
            color: black;
            background-color: gray;
            font-weight: bold;
        }

        .contentTable * tr td {
            padding-left: 5px;
            padding-right: 5px;
        }

.contentRow1 {
    background-color: aliceblue;
}
