body {
    font-size: 14pt;
    text-align: left;
    width: 100%;
    counter-reset: moveTable;
}

.gameInfoCell {
    /*float: left;*/
    width: 250px;
}

.tableCounter::before {
    counter-increment: moveTable;
    content: counter(moveTable) ": ";
}

#filenameHeader h2{
    display:inline;
}

#downloadLink, #downloadLink:visited, #downloadLink:link, #downloadLink:active, #downloadLink:hover {
    text-decoration: underline;
}