#maingame {
    height: 480px;
}

#moveList {
    background-color: white;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0px;
    border:0px;
    padding: 0 10px 0 10px;
}

.moveItem {
    list-style-type: none;
    font-family: Courier New,Lucida Console,Consolas,monospace,sans-serif;
    font-size: 14pt;
    color: black;
    text-align: left;
    background-color: white;
    padding:0px;
    margin:0px;
    border:0px;
}

.moveId {
    text-align: right;
    margin: 0px;
    width:10px;
    font-weight:bolder;
}

.move {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    margin: 0px;
}

.moveBlack {
    float: left;
    width: 75px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
}

.activeMove{
    color:red;
    font-weight:bold;
}

@media screen and (max-width: 520px) {
    .moveId {
        width: 10px;
        font-size:8px;
    }

    .move {
        padding-left: 1px;
        font-size: 14px;
    }
}